/* hero section start */

section.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0 7rem;
  color: var(--DarkGreen);
}

section.hero .content {
  width: 45%;
}

section.hero .content h1 {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.235px;
}

section.hero .content p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2; /* 187.5% */
  letter-spacing: 0.12px;
}

section.hero .content .tombol {
  display: flex;
  gap: 3rem;
}

section.hero .content .tombol a {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.7rem;
}

section.hero .content .tombol a:nth-child(1) {
  color: white;
  background: var(
    --Gradien-Green,
    linear-gradient(93deg, #0a6646 -15.17%, rgba(20, 204, 140, 0.8) 119.46%)
  );
}

section.hero .content .tombol a:nth-child(2) {
  color: var(--DarkGreen);
  border: 1px solid var(--Gradien-Green, #0a6646);
}

/* hero section end */

/* alamat section start */

section.alamat {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  gap: 2rem;
  background: var(
    --Gradien-Green,
    linear-gradient(93deg, #0a6646 -15.17%, rgba(20, 204, 140, 0.8) 119.46%)
  );
  color: white;
  margin-bottom: 9rem;
}

section.alamat img:nth-child(1) {
  border-radius: 1rem;
}

section.alamat .detail {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: space-between;
}

section.alamat .detail div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

section.alamat .detail div img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--PastelGreen);
  padding: 0.7rem;
  box-sizing: border-box;
}

section.alamat .detail div .info {
  display: block;
  width: 60%;
}

section.alamat .detail div .info span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.15px;
}

section.alamat .detail div .info p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 50px; /* 192.308% */
  letter-spacing: 0.13px;
}

/* alamat section end */
